<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           ">

	<!-- 访问静态资源 -->
	<mvc:default-servlet-handler />
	<!-- 注解支持 -->
	<mvc:annotation-driven />
	<!-- 注解扫描 -->
	<!-- 解析@Component不是后面三种, @Repository 持久层, @Service业务层, and @Controller 控制器层 -->
	<!-- <context:component-scan base-package="com.lijianbo.ssm" /> -->

	<!-- <mvc:interceptors>
		<mvc:interceptor>
			拦截器配置的位置
			<mvc:mapping path="/*" />
			<mvc:mapping path="/*/*" />
			配置拦截器
			<bean class="com.lijianbo.ssm.web.interceptor.AuthInterceptor">
				不拦截的地址
				<property name="uris" value="/checkLogin,/image" ></property>
				注入serviec
				<property name="permissionService" ref="permissionService"></property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors> -->


	<!-- 注册(替换)视图解析器 -->
	<!-- 设置视图路径的前后缀，该配置可以让我们写视图路径的时候更简单。 -->
	<!-- 视图解析器 前缀、 后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 文件上传必须处理的转换器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为1MB，最大一般为5M -->
		<property name="maxUploadSize">
			<value>1048576</value>
		</property>
	</bean>

	<!-- 中文乱码问题： 为了处理返回的JSON数据的编码，默认是ISO-8859-1的，设置为UTF-8 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

</beans>